/* Any changes to 'body {background-color...}' property should be done in library.js file */

.hiddenBody {
  opacity: 0
}

.index-btn {
    position: fixed;
    bottom: 10px;
    margin-top: 20px;
    font-size: 14px;
}

h2 {
  text-align: center;
}

#chart_div {
  display: block;
  min-width: 400px;
  min-height: 500px;
}

.buttons-div {
  margin-top: 50px;
}

.buttons-div > ul {
  padding: 0;
}

.chart-row {
  display: none;
}
