/* Any changes to 'body {background-color...}' property should be done in library.js file */

.hiddenBody {
  opacity: 0
}

h2 {
  text-align: center;
}

#fileList > ul > li {
    margin-bottom: 10px;
}
