/* Any changes to 'body {background-color...}' property should be done in library.js file */

.hiddenBody {
  opacity: 0
}

#contentContainer {
	  padding-top: 0;
    padding-bottom: 0;
    background-color: rgba(217,217,238,1);
}

.index-btn {
    margin-top: 20px;
    font-size: 14px;
}
