.hiddenBody {
  opacity: 0
}

#btnHome {
  margin: 10px 0px
}

.inline-element-center {
  /* add to parent of inline element */
  text-align:center
}

/* from Bootstrap Button Generator */
.btn-col {
  color: #FFFFFF;
  background-color: #5363A3;
  border-color: #918DA8;
}

.btn-col:hover,
.btn-col:focus,
.btn-col:active {
  color: #FFFFFF!important;
  background-color: #41418A;
  border-color: #918DA8;
}

/* The Modal (background) */
.modal {
  display: none; /* Hidden by default */
  position: fixed; /* Stay in place */
  z-index: 1; /* Sit on top */
  padding-top: 0!important; /* Location of the box */
  left: 0;
  top: 0;
  width: 100%; /* Full width */
  height: 100%; /* Full height */
  overflow: auto; /* Enable scroll if needed */
  background-color: rgb(0,0,0); /* Fallback color */
  background-color: rgba(0,0,0,0.4) /* Black w/ opacity */
}

/* Modal Content */
.modal-content {
  position: relative;
  background-color: #fefefe;
  margin: auto;
  padding: 0;
  border: 1px solid #888;
  width: 70%;
  box-shadow: 0 4px 8px 0 rgba(0,0,0,0.2),0 6px 20px 0 rgba(0,0,0,0.19);
  -webkit-animation-name: animatetop;
  -webkit-animation-duration: 0.5s;
  animation-name: animatetop;
  animation-duration: 0.5s
}

/* Add Animation */
@-webkit-keyframes animatetop {
  from {opacity:0}
  to {opacity:1}
}

@keyframes animatetop {
  from {opacity:0}
  to {opacity:1}
}

/* The Close Button */
.close {
  color: white;
  float: right;
  font-size: 28px;
  font-weight: bold;
}

.close:hover, .close:focus {
  color: #000;
  text-decoration: none;
  cursor: pointer;
}

.modal-header, .close {
  background-color: #6666B9;
  color:white !important;
  text-align: center;
  font-size: 30px
}

.modal-footer {
  background-color: #f9f9f9
}

.modal-body {
  padding: 2px 16px
}
